@import url("@fontsource/fira-code/latin-300.css");
@import url("@fontsource/fira-code/latin-400.css");
@import url("@fontsource/fira-code/latin-600.css");
@import url("@fontsource/fira-code/latin-700.css");
@import url("@fontsource/fira-code/symbols2-300.css");
@import url("@fontsource/fira-code/symbols2-400.css");
@import url("@fontsource/fira-code/symbols2-600.css");
@import url("@fontsource/fira-code/symbols2-700.css");
@import url("@fontsource/inter/latin-300.css");
@import url("@fontsource/inter/latin-400.css");
@import url("@fontsource/inter/latin-600.css");
@import url("@fontsource/inter/latin-700.css");
@import url("@fontsource/noto-sans-sc/latin-300.css");
@import url("@fontsource/noto-sans-sc/latin-400.css");
@import url("@fontsource/noto-sans-sc/latin-600.css");
@import url("@fontsource/noto-sans-sc/latin-700.css");
@import url("@fontsource/noto-sans-sc/chinese-simplified-300.css");
@import url("@fontsource/noto-sans-sc/chinese-simplified-400.css");
@import url("@fontsource/noto-sans-sc/chinese-simplified-600.css");
@import url("@fontsource/noto-sans-sc/chinese-simplified-700.css");
@import url("@fontsource-variable/noto-sans-sc");

/* fira-code-latin-wght-normal */
@font-face {
  font-family: 'Fira Code Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 300 700;
  src: url(@fontsource-variable/fira-code/files/fira-code-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* fira-code-symbols2-wght-normal */
@font-face {
  font-family: 'Fira Code Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 300 700;
  src: url(@fontsource-variable/fira-code/files/fira-code-symbols2-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+2000-2001,U+2004-2008,U+200A,U+23B8-23BD,U+2500-259F;
}

/* inter-latin-wght-normal */
@font-face {
  font-family: 'Inter Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(@fontsource-variable/inter/files/inter-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
