:root {
  --accent-gradient: linear-gradient(
    45deg,
    rgb(124 58 237),
    #da62c4 30%,
    white 60%
  );
}

html {
  background-color: #f1f5f9;
  font-family: Inter, "Noto Sans SC", system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;
}

code {
  font-family: "Fira Code", ui-monospace, monospace;
  background-color: rgb(175 184 193 / 50%);
  padding: 0.2em 0.4em;
  border-radius: 6px;
  font-size: 85%;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter Variable", "Noto Sans SC Variable", system-ui,
      -apple-system, BlinkMacSystemFont, sans-serif;
  }

  code {
    font-family: "Fira Code Variable", ui-monospace, monospace;
  }
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 100ch;
  padding: 0;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}
