@import url("lxgw-wenkai-screen-webfont/lxgwwenkaigbscreen.css");
@import url("@fontsource/inter");
@import url("@fontsource-variable/inter");
@import url("@fontsource/fira-code");
@import url("@fontsource-variable/fira-code");

:root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    #da62c4 30%,
    white 60%
  );
}

html {
  background-color: #f1f5f9;
  font-family: "LXGW WenKai Screen", Inter, sans-serif;
}

code {
  font-family: "Fira Code", monospace;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "LXGW WenKai Screen", "Inter Variable", sans-serif;
  }

  code {
    font-family: "Fira Code Variable", monospace;
  }
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 100ch;
  padding: 0;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}
