@import "lxgw-wenkai-screen-webfont/lxgwwenkaigbscreen.css";
@import "@fontsource/inter";
@import "@fontsource/inter/variable.css";
:root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    #da62c4 30%,
    white 60%
  );
}

html {
  background-color: #f1f5f9;
  font-family: "LXGW WenKai Screen", "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "LXGW WenKai Screen", "InterVariable", sans-serif;
  }
}
.serif {
  font-family: "Source Serif 4", "Noto Serif SC", serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 100ch;
  padding: 0;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}
