---
---

<p id="count">0</p>
<div>
  <button id="inc">Click me</button>
</div>
<script>
  let count = 0;
  const countP = document.getElementById("count");
  document.getElementById("inc")?.addEventListener("click", () => {
    count++;
    (countP as HTMLParagraphElement).textContent = count + "";
  });
</script>
