---
import "@fontsource/fira-code";
import "@fontsource/source-sans-3";
import "@fontsource/noto-sans-sc";
import "@fontsource/source-serif-4";
import "@fontsource/noto-serif-sc";
import "katex/dist/katex.css";
import "../styles/global.css";

export interface Props {
  content: { title: string; pubDate: string };
}

const { content } = Astro.props;
---

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="generator" content={Astro.generator} />
    <title>{content.title}</title>
  </head>
  <body>
    <h1>{content.title}</h1>
    <p>发布于 {new Date(content.pubDate).toLocaleDateString()}</p>
    <hr />
    <slot />
  </body>
</html>
